<h1>New Perfume  accord  join</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.perfume__accord__join_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.perfume__accord__join_path(@conn, :index) %></span>
