<div class="container" style="padding-top: 80px;"> 
  <div class="mb-12">
    <h1 class="display-3">New Note</h1>
    <h3 class="display-5"><%= link "Back", to: Routes.admin_note_path(@conn, :index), class: "btn btn-outline-secondary" %></h3>
  </div>

  <hr/>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_note_path(@conn, :create)) %>
</div>
