<section class="first-section">
  <div class="container" style="padding-top:80px;">
    <h1 class="display-3 text-center">Advertising</h1>
    <p> Need to pay server bills and such (especially coffee and green tea). Got nothing yet.</p>
  </div>
</section>

