<section class="first-section">
  <div class="container" style="padding-top:80px;">
      <h1 class="display-3 text-center">Blog</h1>
      <p>Just a place holder for a blog. Probably going to use blogger or wordpress.</p>
  </div>
</section>

