<section class="first-section">
  <div class="container" style="padding-top:80px;">
      <h1 class="display-3 text-center">FAQ</h1>
      <p>Place holder for FAQ. 
      You know until Fumgiate gets popular and inundated with frequently asked questions.</p>
  </div>
</section>

