<section class="first-section">
  <div class="container" style="padding-top:80px;">
      <h1 class="display-3 text-center">Private Policy</h1>
      <p>
        I got no advertisment yet to have a private policy.
        All user information are anonymize.
      </p>
  </div>
</section>

