<section class="first-section">
  <div class="container" style="padding-top:80px;">
      <h1 class="display-3 text-center">Privacy Policy</h1>
      <p>
        All user information are anonymize.
      </p>
  </div>
</section>

