<div class="container mt-5 pt-5">
<h3 class="display-3"><%= dgettext "coherence", "Edit Account" %></h3>

<hr />

<%= render "form.html", changeset: @changeset,
                        label: dgettext("coherence", "Update"), required: [],
                        action: Routes.registration_path(@conn, :update) %>

</div>

<hr />
