<div class="container mt-5 pt-5">

  <div class="mb-12">
    <h1 class="display-3">Edit Perfume </h1> 
    <h3 class="display-5"><%= link "Back", to: Routes.perfume_path(@conn, :index) %></h3>
  </div>

  <hr/>

      <%= render "form.html", Map.put(assigns, :action, Routes.perfume_path(@conn, :update, @perfume)) %>
</div>

<hr />

