<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fumigate</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="d-flex flex-column">
<style>
.about-us {
  text-align: center;
}
</style>
    <header>
    <%= render FumigateWeb.NavbarView, "navbar.html", assigns %>
    </header>

<!-- Begin page content -->
<main role="main">

    <%= unless is_nil(get_flash(@conn, :info)) do %>
    <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= unless is_nil(get_flash(@conn, :error)) do %>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>

    <%= render @view_module, @view_template, assigns %>

</main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <footer class="container">
    <div class="container about-us">
      <h2 class="display-4">About Us</h2>
      <p> This web application was created by Anthony Anh Quoc Doan. It was created to practice his skillset and to create useful tools for his casual passion for smelling good.
      </p>
      <p>
      I hope you enjoy the web application.
      </p>
    </div>
        <p>&copy; Fumigate 2019</p>
    </footer>
  </body>
</html>
